.msg{
      opacity: 0;
      -webkit-transition: opacity 1.4s ease-in;
      -moz-transition: opacity 1.4s ease-in;
      -ms-transition: opacity 1.4s ease-in;
      -o-transition: opacity 1.4s ease-in;
      transition: opacity 1.4s ease-in;
}